/* basic styles */

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.wrapper {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.wrapper .colorbox {
  padding-top: 100%;
  border: solid 2px #000;
}

.wrapper .label {
  height: 30px;
  text-align: center;
  margin: 10px 0;
}

#box_1 {
  background-color: rgb(0, 0, 255);
}

.panel {
  padding: 0 2rem;
}